body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #0095ac;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 24px;
}

header p {
    margin: 0;
    font-size: 14px;
    color: #ccc;
}

.container {
    display: flex;
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

nav {
    width: 200px;
    background-color: #74a5ac;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); 
    border-radius: 8px;
    margin-right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #e7e7e7;
    padding: 8px 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover{
    background-color: #679097;
    color: #ffffff;
}
nav ul li a.active {
    background-color: #487078;
    color: #ffffff;
    font-weight:bold;
}

main {
    flex: 1;
    padding: 30px;
    background-color: white;
    /* 加深 main 區塊的邊框陰影 */
    box-shadow: 0 4px 15px rgba(0,0,0,0.3); /* 調整陰影 */
    border-radius: 8px;
}

.start {
    position: relative;
    left: 46%;
    width: 90px;
    bottom: -80%;
    background-color: #679097;
    text-decoration: none;
    color: #e7e7e7;
    text-align: center;
    padding: 8px 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.start:hover {
    background-color: #487078;
}

footer {
    background-color: #0095ac;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
    margin-top: auto;
}

footer a.footer_link {
    color: #adf8ff;
    text-decoration: none;
}

footer a.footer_link:hover {
    color: #82e8f3;
    text-decoration: underline;
}

